
/* dashboard.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-family: Arial, sans-serif;
}

.main-content {
    margin-left: 25%; /* Adjust based on your sidebar width */
    padding: 20px;
}

header {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.notifications {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.notifications img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin-left: 10px;
    margin-bottom: 100px;
    cursor: pointer;
}

/* Modal Styles */
.logout-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    }
    
    .logout-modal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    }
    
    .logout-modal button {
    background-color: #7a5bbd;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    }
    
    .logout-modal button:hover {
    background-color: #5d49a6;
    } 