body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container {
    position: relative;
    background-color: #8e6bc8;
    color: white;
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Add space for the see password icon */
}

.see-password {
    position: absolute;
    top: 74%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}


h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    text-align: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #8e6bc8;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #7a5bbd;
    color: white;
    transition: 0.3s;
}

.forgot-password {
    text-align: right;
    font-size: 14px;
}

.forgot-password a {
    color: white;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
.form-group {
    margin-bottom: 20px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}